@use 'sass:math';

$headerHeight: base(2.5);
$htmlFontSize: 16;
$baselinePX: 20;

$multiplier: 1;

@function base($multiplier: 1) {
	@return math.div($baselinePX, $htmlFontSize) * $multiplier * 1rem;
}

.test {
	font-size: base();
	height: calc(100dvh - $headerHeight);
	line-height: base(1) * 1.2;
	margin: base(-0.05);

	@media only screen and (width <= 768px) {
		font-size: base(0.5);
	}
}
